{
  "log": {
    "loglevel": "warning"
  },
  "inbounds": [
    {
      "listen": "0.0.0.0",
      "port": 35087,
      "protocol": "socks",
      "settings": {
        "auth": "password",
        "accounts": [
          {
            "user": "tgsocks",
            "pass": "tgpass888"
          }
        ],
        "udp": true
      },
      "streamSettings": {
        "network": "tcp",
        "sockopt": {
          "tcpNoDelay": true,
          "tcpKeepAliveInterval": 15
        }
      }
    }
  ],
  "outbounds": [
    {
      "protocol": "freedom",
      "tag": "direct",
      "settings": {
        "domainStrategy": "UseIPv4"
      }
    }
  ]
}
